<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->

  <title>Computer Vision and Drones</title>
  <!-- <meta content="" name="description">
  <meta content="" name="keywords"> -->

  <!-- Favicons -->
  <link href="../logo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="../index.html"><img src="../logo.png"></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="../index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Projects</a></li>
          <li><a class="nav-link scrollto active" href="#portfolio">Blogs</a></li>
          <li><a class="nav-link scrollto" href="../team2.html">Team</a></li>
         
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <a href="https://drive.google.com/file/d/14JZPxt6nUrxAxejly2rtO3XQH_BooITU/view?usp=sharing"><h2 style="font-weight: 800; color: black;">DIGI-WARE
          </h2></a>
          <ol>
            <li><a href="../index.html">Home</a></li>
            <li>Blogs</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <p>
                  
                  The project is aimed to introduce Verilog programming to mentees. The project consisted of an extension of topics related to digital electronics, like flip-flops, MUX, etc., which were covered in the course ESC201. This course was done by Y22 mentees but not Y23s. So, the mentors decided to conduct the project separately for Y22s and Y23s. The general workflow consisted of going through the provided resources and attending discussion hours. Assignments were sent immediately after and the mentees were given 1-2 days to submit. <br><br>
For the Y22s, first, the basic knowledge of digital devices and circuits was tested. In the first week, resources on Verilog HDL were provided. The first two assignments were on writing Verilog codes for basic combinational and sequential circuits, then, onto a few complex circuits like counters and rotators. Next, resources on finite-state machines (FSM), Mealy and Moore machines, state transition tables, and diagrams were provided. Towards the end of the project, the mentees were divided into teams of five and were given a practical assignment that included date converter, customized alarm clock, traffic light controller, tic-tac-toe, scientific calculator, and car parking system. The end-term report consisted of the state transition table and diagram of the FSM, the Verilog code and testbench, and its output in GTK wave. <br><br>
As for the Y23s, they were first taught the truth tables, boolean expressions, implementing them with logic gates, representation as SOP and POS, and minimization by k-maps. After the first assignment, latches, flip-flops (JK, D, and T), FSMs, their state transition diagrams, and then devices like counters and multiplexers were taught. Then they were given the resources to learn Verilog HDL. The final end-term report consisted of a description of all the topics learned in the project.
                </p>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <a href="https://drive.google.com/file/d/14JZPxt6nUrxAxejly2rtO3XQH_BooITU/view?usp=sharing" class="modified_link">
              <div class="portfolio-info d-flex align-items-stretch img_modification"   >
                <img src="../assets/img/projects/digiware.jpg" style="height: 35vh; width: 25vw; border-radius: 10px;" >
                <div class="coming" ><a href="https://drive.google.com/file/d/14JZPxt6nUrxAxejly2rtO3XQH_BooITU/view?usp=sharing" class="modified_link">Check Project Proposal</a></div>
              <div class="portfolio-description">
                <h2></h2>
                
              </div>
            </a>
            
          </div>

          

        </div>

        <div>
          
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>EEA<span>.</span></h3>
              <p>
                IIT Kanpur <br>
                <strong>Email:</strong> eea@iitk.ac.in<br>
              </p>
              <div class="social-links mt-3">
                <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                <a href="https://www.facebook.com/eea.iitk/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/eea_iitk/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/company/eea-iitk/mycompany/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" style="margin-left: 520px;">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/">IIT Kanpur</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/">EE Department IITK</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/research-areas">Research Areas in EE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://iitk.ac.in/doaa/data/Calendar-2024.pdf">Academic Calender</a></li>
              
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links" style="width: 180px;margin-left: 30px;">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/course-calendar">Course Calender</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/ongoing-projects">Projects</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/contact-us">Contact Staff</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>EEA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="team2.html">EEA Team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

</body>

</html>