<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->

  <title>Computer Vision and Drones</title>
  <!-- <meta content="" name="description">
  <meta content="" name="keywords"> -->

  <!-- Favicons -->
  <link href="../logo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="../index.html"><img src="../logo.png"></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="../index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Projects</a></li>
          <li><a class="nav-link scrollto active" href="#portfolio">Blogs</a></li>
          <li><a class="nav-link scrollto" href="../team2.html">Team</a></li>
         
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <a href="https://drive.google.com/file/d/14JZPxt6nUrxAxejly2rtO3XQH_BooITU/view?usp=sharing"><h2 style="font-weight: 800; color: black;">DIGI-WARE
          </h2></a>
          <ol>
            <li><a href="../index.html">Home</a></li>
            <li>Blogs</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-7">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <p>
                  
                  It introduces the various fields to the freshers and motivates them to pursue their interests in the core, especially in these times when students are opting for software before getting an opportunity to explore the core electrical. It also gives a path to domains (like Verilog programming language and computer vision) that are not taught in academic courses. The projects under student mentors serve as a stepping stone to doing projects under professors. <br><br>
I opted for the project digi-ware because the digital electronics part of the ESC201 course felt interesting to me and I was in for a treat. The mentors have provided the resources and tested us through assignments. This helped in our continuous evaluation. All the mentors encouraged doubts and cleared them when raised. For the final project deliverable, we were divided into groups and were assigned a problem. This tested all of what we have learned in the project. We had to coordinate with our team - to create the model for the problem, write the code, and test it. My team was assigned to design a car parking system. Our initial model was not working right. <br><br>So, we had to spend a whole night figuring out what was wrong and improving it. We had to make a new model altogether finally. But we had fun. It tested our abilities and made us think about the problem. This project was a taste of the awesomeness of digital circuits and it has motivated me to further explore this domain. 
 I hope EEA continues to be this medium where students can explore new domains, work on core problems, meet like-minded friends, and connect with seniors of the same department.
                </p>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4" style="margin-left: 100px;">
            <a href="https://drive.google.com/file/d/14JZPxt6nUrxAxejly2rtO3XQH_BooITU/view?usp=sharing" class="modified_link">
              <div class="portfolio-info d-flex align-items-stretch img_modification"   >
                <img src="../assets/img/projects/digiware.jpg" style="height: 35vh; width: 25vw; border-radius: 10px;" >
                <div class="coming" ><a href="https://drive.google.com/file/d/14JZPxt6nUrxAxejly2rtO3XQH_BooITU/view?usp=sharing" class="modified_link">Check Project Proposal</a></div>
              <div class="portfolio-description">
                <h2></h2>
                
              </div>
            </a>
            
          </div>

          

        </div>

        <div>
          
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>EEA<span>.</span></h3>
              <p>
                IIT Kanpur <br>
                <strong>Email:</strong> eea@iitk.ac.in<br>
              </p>
              <div class="social-links mt-3">
                <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                <a href="https://www.facebook.com/eea.iitk/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/eea_iitk/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/company/eea-iitk/mycompany/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" style="margin-left: 520px;">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/">IIT Kanpur</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/">EE Department IITK</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/research-areas">Research Areas in EE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://iitk.ac.in/doaa/data/Calendar-2024.pdf">Academic Calender</a></li>
              
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links" style="width: 180px;margin-left: 30px;">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/course-calendar">Course Calender</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/ongoing-projects">Projects</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.iitk.ac.in/ee/contact-us">Contact Staff</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>EEA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="team2.html">EEA Team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

</body>

</html>