.modified_link{
    font-size: 1.5rem;
    margin-left: 36%;
    color: black;
    font-weight: 600;
}

:hover.modified_link{
    transition: all;
    transition-duration: 0.2s ;
}

.image_modification img{
    border-radius: 10%;
    border
}