.modified_link{
    font-size: 1.5rem;
    margin-left: 36%;
    color: black;
}

:hover.modified_link{
    transition: all;
    transition-duration: 0.2s ;
}

.img_modification{
    border-radius: 7%;
}