<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
      <p class="text-blk section-head-text">
        Meet Our TEAM
      </p>
      <p class="text-blk section-subhead-text">
        Web Secys
      </p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/Ved.jpg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              Ved Prakash
            </p>
            
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/Riyanshu.jpg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              Riyanshu Kumar
            </p>
           
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/Anvay.jpeg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              Anvay
            </p>
            <p class="text-blk position">
              
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/CHIRANSHU.jpeg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              CHIRANSHU
            </p>
            <p class="text-blk position">
             
            </p>
          </div>
        </div>
      </div>
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/Karthik.jpg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              Karthik
            </p>
            <p class="text-blk position">
             
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/Abhishek.jpg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              Abhishek
            </p>
            <p class="text-blk position">
             
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/Manvi.jpeg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              Manvi
            </p>
            <p class="text-blk position">
             
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../assets/img/team/Rachit.jpg" style="border-radius: 50%;">
            </div>
            <p class="text-blk name">
              Rachit
            </p>
            <p class="text-blk position">
             
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>