<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
  <div style="margin-top: 2rem;">
    <p class="text-blk team-head-text" style="color: white;">
      EEA Team
    </p>
  </div>
    <div class="heads">
      <p class="secys-style" style="color: white;">Heads</p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/raghav.jpg">
            </div>
            <p class="text-blk name">
              Raghav
            </p>
            <p class="text-blk position">
              Overall Head
            </p>
            <p class="text-blk feature-text">
              raghavs21@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Isha.jpg">
            </div>
            <p class="text-blk name">
              Isha Jain
            </p>
            <p class="text-blk position">
              Manager - Content and Outreach
            </p>
            <p class="text-blk feature-text">
              ishajain21@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Rishi.jpg">
            </div>
            <p class="text-blk name">
              Rishi Poonia
            </p>
            <p class="text-blk position">
              Web Head
            </p>
            <p class="text-blk feature-text">
              riship21@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Aatman.jpg">
            </div>
            <p class="text-blk name">
              Aatman Jain
            </p>
            <p class="text-blk position">
              Manager
            </p>
            <p class="text-blk feature-text">
              aatman21@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Aastha.jpg">
            </div>
            <p class="text-blk name">
              Astha Tibrewal
            </p>
            <p class="text-blk position">
              Manager
            </p>
            <p class="text-blk feature-text">
              asthat21@iitk.ac.in
            </p>
          </div>
        </div>

      </div>
    </div>
    
    <div class="secys">
      <p class="secys-style" style="color: white;">Secys</p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Ved.jpg">
            </div>
            <p class="text-blk name">
              Ved Prakash
            </p>
            <p class="text-blk position">
              Web Secy
            </p>
            <p class="text-blk feature-text">
              vedprakash22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Riyanshu.jpg">
            </div>
            <p class="text-blk name">
              Riyanshu
            </p>
            <p class="text-blk position">
              Web Secy
            </p>
            <p class="text-blk feature-text">
              riyanshu22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Tushar.jpg">
            </div>
            <p class="text-blk name">
              Tushar Sahu
            </p>
            <p class="text-blk position">
              Web Secy
            </p>
            <p class="text-blk feature-text">
              tusharsah22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Sumit.jpg">
            </div>
            <p class="text-blk name">
              Sumit Rojaria
            </p>
            <p class="text-blk position">
              Web Secy  
            </p>
            <p class="text-blk feature-text">
              sumitr22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/AbhishekS.jpg">
            </div>
            <p class="text-blk name">
              Abhishek Sahu
            </p>
            <p class="text-blk position">
               Web Secy  
            </p>
            <p class="text-blk feature-text">
              abhisahu22@iitk.ac.in
            </p>
          </div>
        </div>
        
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Rachit.jpg">
            </div>
            <p class="text-blk name">
              Rachit
            </p>
            <p class="text-blk position">
              Web secy
            </p>
            <p class="text-blk feature-text">
              rachitjain22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Manvi.jpeg">
            </div>
            <p class="text-blk name">
              Manvi
            </p>
            <p class="text-blk position">
              Secy
            </p>
            <p class="text-blk feature-text">
              manvib22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Anvay.jpeg">
            </div>
            <p class="text-blk name">
              Anvay
            </p>
            <p class="text-blk position">
              secy
            </p>
            <p class="text-blk feature-text">
              joshian22@iitk.ac.in
            </p>
  
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Gantada.jpg">
            </div>
            <p class="text-blk name">
              Gantada
            </p>
            <p class="text-blk position">
              Secy
            </p>
            <p class="text-blk feature-text">
              gantadas22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/CHIRANSHU.jpeg">
            </div>
            <p class="text-blk name">
              Chiranshu kataria
            </p>
            <p class="text-blk position">
              secy
            </p>
            <p class="text-blk feature-text">
              kataria22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Abhishek.jpg">
            </div>
            <p class="text-blk name">
              Abhishek Kumar
            </p>
            <p class="text-blk position">
              secy  
            </p>
            <p class="text-blk feature-text">
              abhishk22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Nikhil.jpeg">
            </div>
            <p class="text-blk name">
              Nikhil Jain
            </p>
            <p class="text-blk position">
              secy  
            </p>
            <p class="text-blk feature-text">
              nikhilj22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Karthik.jpg">
            </div>
            <p class="text-blk name">
              Kartik
            </p>
            <p class="text-blk position">
              secy  
            </p>
            <p class="text-blk feature-text">
              kkarthik22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Kanika.jpg">
            </div>
            <p class="text-blk name">
              Kanika
            </p>
            <p class="text-blk position">
              Secy  
            </p>
            <p class="text-blk feature-text">
              kanikac22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Riya.jpg">
            </div>
            <p class="text-blk name">
              Riya
            </p>
            <p class="text-blk position">
              Secy  
            </p>
            <p class="text-blk feature-text">
              ariya22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Riddhima.jpg">
            </div>
            <p class="text-blk name">
              Riddhima
            </p>
            <p class="text-blk position">
              Secy  
            </p>
            <p class="text-blk feature-text">
              riddhima22@iitk.ac.in
            </p>
          </div>
        </div>
        
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Harshika.jpg">
            </div>
            <p class="text-blk name">
              Harshika
            </p>
            <p class="text-blk position">
              Secy  
            </p>
            <p class="text-blk feature-text">
              harshika22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/yasaswi.jpg">
            </div>
            <p class="text-blk name">
              Yasaswi
            </p>
            <p class="text-blk position">
              Secy  
            </p>
            <p class="text-blk feature-text">
              vyasaswi22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Archit.jpg">
            </div>
            <p class="text-blk name">
              Archit Atrey
            </p>
            <p class="text-blk position">
              Secy  
            </p>
            <p class="text-blk feature-text">
              aarchit22@iitk.ac.in
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="../assets/img/team/Aditya.jpeg">
            </div>
            <p class="text-blk name">
              Aditya Prakash
            </p>
            <p class="text-blk position">
              Secy  
            </p>
            <p class="text-blk feature-text">
              adityap22@iitk.ac.in
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>